@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy'), url('../font/Gilroy.woff') format('woff');
}

body {
    background-color: #030328;
    color: #fff;
    font-family: 'Gilroy';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden;
}

a {
    font-family: 'Gilroy';
    text-decoration: none;
    color: #fff;
    font-size: .75rem;
    font-weight: 800;
    border-radius: 50rem;
    border: 2px solid transparent;
    letter-spacing: .2em;
    text-transform: uppercase;
    padding: .55em 1.5em .5em;
    transition: all .45s ease-in-out;
}

a:focus {
    background-color: #fff;
    color: #5f1981;
    border: 2px solid #5f1981;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.active {
    font-family: 'Gilroy';
    background-color: #b535f6;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
}

.navbar {
    position: fixed;
    top: 0;
    width: 99%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .3);
    padding: .7rem 1rem;
}

.logo {width: 10rem;}

.header {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    height: 70rem;
    margin-top: 3.5rem;
}

.sponsor {
    flex-direction: column;
    align-items: flex-start;
    padding: 175px 0 0 20px;
}

.sponsor img {width: 27%;}

small {
    color: rgba(255, 255, 255, 0.7);
    display: inherit;
    font-size: 11px;
    font-weight: normal;
    line-height: 14px !important;
}

small:first-of-type {
    margin-top: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding-bottom: 5px;
}

.frame {
    position: relative;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.frame::after {
    content: "";
    background-color: #190752;
    display: block;
    height: 80%;
    left: -100%;
    position: absolute;
    top: 10%;
    width: 200%;
    z-index: -1;
}

._video {
    padding: .8rem .8rem .2rem;
    border: 2px solid rgba(154, 53, 239, 0.5);
}

._desc {
    margin-left: 3rem;
    margin-top: 2rem;
}

._desc > p {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
}

._desc > h1 {
    font-weight: 600;
    font-size: 2rem;
    padding-top: 2rem;
    line-height: 1rem;
}

.slider {
    margin-top: 5rem;
}

.slider > h2 {
    text-align: center;
    margin: 2rem 0 0;
}

.content > h2 {
    margin: 0;
}

.content > small {
    margin-bottom: 1rem;
}

.block {
    overflow: hidden;
    width: 100%;
    margin: .6rem auto 5rem auto ;
}

.animation {
    width: auto;
    height: 100px;
    font-size: 0px;
}

.animation > div {
    display: inline-block;
    width: auto;
    float: none;
    padding: 0 10px;
}

.animation > div > img {
    width: 200px;
    border: 2px solid rgba(154, 53, 239, 0.5);
    border-radius: 10px;
}

.animation > div > p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.7rem;
    font-weight: 900;
    letter-spacing: .2em;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
}

.content {
    text-align: center;
}

.options {
    font-weight: 400;
    margin: 3rem ;
}

.options > div {
    max-width: calc(100%/4);
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

hr.pink {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF00E5;
    border-width: 2px;
    width: 45px;
}

.kids_zone {align-items: center;}
.kids_zone > img {
    width: 33%;
}

.free_trial_landscape {
    background-size: cover;
    background-position: center;
    background-image: url("https://hbomax-images.warnermediacdn.com/2021-07/promo-banner-bg-dsk.png?host=wme-hbomax-drupal-prod.s3.amazonaws.com&w=1400");
    padding-bottom: 3rem;
}

.f_trial > img {
    margin-top: 3rem;
    width: 65%;
}

.f_trial > button {
    margin-top: 2rem;
}

.f_trial > small {
    color: #fff;
    font-size: .8rem;
    font-weight: 800;
    margin-top: 1rem;
}

.f_trial {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Buttons */
button {
    color: #fff;
    border: 0;
    border-radius: 50rem;
    cursor: pointer;
    transition: all 0.5s !important;
}

.btn_purple {
    background: linear-gradient(345deg, rgba(73,12,176,1) 0%, rgba(155,52,239,1) 33%, rgba(255,255,255,0) 66%, rgba(255,255,255,0) 100% );
    background-position: 99% 50%;
    background-size: 400% 400%;
    letter-spacing: .2em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .8em 1.6em .8em;
    border: 2px solid transparent;
    color: #fff;
    overflow: hidden;
}

.btn_purple:hover {
    background-position: 1% 50%;
    transition: all 0.5s !important;
    border: 2px solid #c600ff;
    color: #fff;
}

.btn_white {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    letter-spacing: .2em;
    font-weight: 600;
    text-transform: uppercase;
    padding: .8em 1.6em .8em;
    color: #030328;
    border: 2px solid transparent;
}

.btn_white:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.infos {
    margin-top: 5rem;
}

.series {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    max-width: 45%;
}
.series > img {
    width: 29%;
    height: auto;
    object-fit: cover;
    border: 1px solid #5b1ce6;
    border-radius: .3rem;
    box-shadow: 30px 30px 60px rgb(255 0 100 / 20%), -30px -30px 60px rgb(0 100 255 / 20%);
    background-image: radial-gradient(rgba(91,28,230,.5),#030328 175%);
}

.series_text {
    padding: 5.3rem;
    text-align: center;
}

.share {
    margin-top: 7rem;
    text-align: center;
}

.share > h2 {
    margin: 0;
}

.devices {
    margin: 5rem 0;
    justify-content: space-between;
}

._device > .pink {
    margin-bottom: 2rem;
}

._device > img {
    height: auto;
    max-width: 130px;
}

._device > p {
    font-weight: lighter;
    margin: .5rem;
}

.faq > h2 {
    text-align: center;
}

.faq > small {
    margin-top: 3rem;
}

.faq_buttons {
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgb(158, 134, 255);
    display: flex;
    font-size: 1.2rem;
    font-weight: lighter;
    flex-wrap: wrap;
    hyphens: auto;
    margin: 0px;
    padding: 1.25rem 1.5rem 1.25rem 0px;
    position: relative;
    text-align: left;
    width: 100%;
}

section {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer {
    margin-top: 3rem;
    text-align: center;
    color: #9e86ff;
}

.footer_link {
    color: #9e86ff;
}

.small_link {
    color: #9e86ff;
    font-weight: lighter;
    font-size: .5rem;
}

.footer_link:hover, .small_link:hover {
    color: #fff;
}

.social {
    margin: 2rem 0;
}

copyright {
    font-size: .6rem;
    font-weight: lighter;
}

/* Animation */

@keyframes slide {
    0% { left: 0; }
    100% { left: -100; }
}